@import "tailwindcss";

/* Maison Neue font family */
@font-face {
    font-family: "Maison Neue";
    src: url("/fonts/fonnts.com-Maison_Neue_Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* @font-face {
    font-family: "Maison Neue";
    src: url("/fonts/fonnts.com-Maison_Neue_Book.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
} */

/* @font-face {
    font-family: "Maison Neue";
    src: url("/fonts/fonnts.com-Maison_Neue_Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
} */

/* @font-face {
    font-family: "Maison Neue Mono";
    src: url("/fonts/fonnts.com-Maison_Neue_Mono.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
} */

/* Global font application */
html,
body {
    font-family: "Maison Neue";
}

/* .font-mono {
    font-family: "Maison Neue Mono", ui-monospace, SFMono-Regular,
        Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
} */